

.olcards,
.olcards * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.olcards {
  display: flex;
  flex-direction: column;
  --cardsGap: 1rem;
  gap: var(--cardsGap);
  /* padding-bottom: var(--cardsGap); */
  padding-bottom: 0 !important;
}
.olcards .li {
  display: flex;
  color: white;
  --labelOffset: 1rem;
  --arrowClipSize: 1.5rem;
}



.olcards .li .content {
  background-color: var(--cardColor);
  width: 100%;
  /* text-align: left !important; */
  --inlinePadding: 1em;
  --boxPadding: 0.9em;
  /* display: grid; */
  padding: var(--boxPadding) calc(var(--inlinePadding) + var(--arrowClipSize))
    var(--boxPadding) calc(var(--inlinePadding) + var(--labelOffset));
  /* grid-template-areas: "icon title"; */
  gap: 0.25em 1em;
  clip-path: polygon(
    0 0,
    calc(100% - var(--arrowClipSize)) 0,
    100% 50%,
    calc(100% - var(--arrowClipSize)) 100%,
    calc(100% - var(--arrowClipSize)) calc(100% + var(--cardsGap)),
    0 calc(100% + var(--cardsGap))
  );
  position: relative;
  
	box-shadow:0px 0px 10px 2px #C1C1C1;
  
}

.olcards .li .icon {
  grid-area: icon;
  align-self: center;
  font-size: 2em;
}
.olcards .li .content .title {
  position: relative;
  grid-area: title;
  font-size: 1.5em;
  /* font-weight: 700; */
}
.olcards .li .content .first {
  padding-left: 85px !important;
}
.olcards .li .content .text {
  grid-area: text;
}


#main section#one {
  padding-top: 0em !important;
  padding-left: 4em !important;
  padding-bottom: 1em !important;
}
#main section#one p {
  line-height: 1.6em !important;
}
#main section#one .major h2,
#main section#three .major h2 {
  margin-bottom: 0.6em !important;
}
/* #main section#three h2 { 
  color: #C81026 !important;
} */

#main section#three {
  margin-top: 2em !important;
  padding-top: 2em !important;
  margin-left: 70px !important;
  border-top: solid 2px #C1C1C1 !important;
}

#main section#three ul.labeled-icons {
  display: grid !important; 
  width: 100% !important;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0.25em 3em;
}

#main section#three ul.labeled-icons li {
  padding-top: 0 !important;
  margin-top: 0 !important;
}
#main section#three ul.labeled-icons li a:hover > h3 {
  color: #C81026 !important;
}


